# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/
ENV/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment Variables
# =========================
.env

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/
*.egg

# =========================
# Logs
# =========================
*.log

# =========================
# Generated Application Output
# =========================
output/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/
